 /*초기화 스타일*/
	*{margin:0; padding:0; }
	ul li {list-style:none;}
	a {text-decoration:none;}	
	#box_1 div, .slideArea {transition:all 1s;}

/*토글*/
.show{right:200px;}

/*애니메이션 설정*/
		@keyframes iconAni {
				0% {opacity:0;}
				100% {opacity:1;}
		}
		@keyframes bgAni {
				0% {transform:skew(0deg);}
				100% {transform:skew(4deg);}
		}	
/*전체 설정*/
	.keyWord:focus {outline: none;}	
	#userID, #userPW {outline: none;}

/*pc화면*/
	@media (min-width:1024px){
	/*wrap 설정*/
		div#wrap {width:100%}
	/*헤더*/
			/*헤더배경*/
			header {
				background-image:url("../images/header/bg_sun.png"), url("../images/header/header_bg.png"); 
				background-repeat:no-repeat;
				background-position:50% -24px, 0 0;
				background-size:auto, 100% 270px;    
				height:385px; overflow:hidden;
				position:relative; z-index:2;
				}

			/*애니메이션*/
				header:before, header:after{
					content:"";
					display:block; position:absolute; left:-20px;
					width:110%; height:250px;
					animation-name: bgAni;
					animation-duration:2s;
					animation-direction:alternate;
					animation-iteration-count: infinite;
					}

				 header:after{
					background:url("../images/header/bg_ob_1.png"),url("../images/header/bg_ob_7.png");
					background-repeat:no-repeat;
					background-size:200px auto, 180px auto;
					background-position:92% -30px, -1% 135px;
					top:0px;
					}

				header:before{
					background:url("../images/header/bg_ob_6.png"), url("../images/header/bg_ob_5.png");
					background-repeat:no-repeat;
					background-size:180px auto, 250px auto;
					background-position:1% 15px, 95% 110px;
					animation-delay:1s;
					}

		/*헤더wrap*/
			.headWrap {
					width:55%; margin:0 auto;
					min-width:800px;
					position:relative;
			}

		/*로고*/
			/*로고 위치*/
				header h1 {
						background:url("../images/header/home_logo.png") no-repeat;
						background-size:300px 163px;
						width:300px; height:163px;
						position:relative; top:10px; left:5%;
						z-index:999; text-indent:-9999px;
						transition:all 1s;
				}

				header h1:hover {
						background:url("../images/header/logo_light.png") no-repeat;
						background-size:300px auto;
				}

				h1 a {
						display:block;
						width:300px; height:163px;
				}

		/*헤더 중,소제목 없애기*/
			header h2,header h3 {display:none;}

		/*탑네비*/
			#topNav ul {
					border:2px solid #5f5f5f;
					position:absolute; top:10px; right:0;
					background:rgba(255,255,255,0.5);
					z-index:10; width:165px; height:23px;
			}

			#topNav ul li {
					text-align:center; float:left; width:49.7%;	
					padding-bottom:3px;
					transition:all 1s;
			}

			#topNav ul li:nth-child(1) {
					border-right:1px solid #5f5f5f;
			}

			#topNav ul li a {
					padding:0 10px 0 10px;
					font-size:14px; font-weight:bold; color:#5f5f5f;
					transition:all 1s;
			}

				/*탑네비 오버*/
			#topNav ul li:hover {background:#5f5f5f;}
			#topNav ul li:hover a {color:white;}

		/*검색영역*/

			#search {
				z-index:3;
				position:absolute; top:95px; left:45%;
				width:370px;
			}
			
			#search legend {display:none;}

			#search .search {border:none;}

			#search .keyWord {
				background:url("../images/header/home_search.png");
				background-size:100% 100%;
				width:370px; height:41px; padding-left:7px; border:none;
			}
			
			#search .btn {
				position:absolute; right:0px; top:5px; padding-left:10px;}

		/*네비게이션*/

			nav .chaticon {display:none;}

			/*메인메뉴 공통*/
				#menu {
						z-index:3; width:100%; height:40px; min-width:700px;
						position:relative; top:20px; left:50px; clear:both;
						margin:0 auto;
				}

				/*바이미지,메인메뉴별 간격*/
				
				#menu .m {display:none;}	/*모바일 메뉴 숨기기*/
				.navicon {display:none;} /*모바일 네비 아이콘 숨기기*/

				#menu li.mainMenu {
					background:url("../images/header/nav_var.png") no-repeat 0 6px;
					float:left; width:17.5%; text-align:center;
					position:relative; 
				}
				
				#menu > li:nth-child(2) {height:160px; background:none; padding-right:3%}
				#menu > li:nth-child(3) {height:160px; padding-left:3%; padding-right:3% }
				#menu > li:nth-child(4) {height:160px; padding-left:3%; padding-right:3% }
				#menu > li:nth-child(5) {height:160px;padding-left:3%}
				
				#menu li.mainMenu > a {
					padding:5px; font-size:20.5px; color:#336633;
					font-family: 'Noto Serif KR', serif; 
					}

				/*메인메뉴 오버시 글자색*/
				#menu li.mainMenu > a:hover{color:black;}

			/*보조메뉴 공통*/
				ul.subMenu {
					position:relative; top:10px; left:-10px;
					width:120%; min-width:160px; 
					height:0; overflow:hidden; transition: all 1s;
					background:rgba(20,75,45,0.6);
					border-radius:15px 15px 15px 15px;
					}

				ul.subMenu li a { 
					font-size:12pt; color:white;
					border-radius:15px 15px 15px 15px; 
					padding:3px 5px 3px 5px;
					font-family: 'Noto Serif KR', serif;
					font-weight:200; transition:all 1s;
					}	
				
				ul.subMenu li {
						width:80%; min-width:130px; margin-left:6.5%; padding:8px 5px 8px 5px;
						transition:all 1s;
				}
				
				ul.subMenu li:nth-child(1)  {border-bottom:1px solid #f2fec5;}
				ul.subMenu li:nth-child(3)  {border-top:1px solid #f2fec5;}
				ul.subMenu li:nth-child(4)  {border-top:1px solid #f2fec5;}

				/*보조메뉴 오버시*/
				ul.subMenu li a:hover {color:#f2fec5; background:rgba(0,0,0,0.4);}
			/*보조메뉴 수정*/ 

			/*오버시 보조메뉴 보이기*/
				.main_1:hover .sub_1 {height:118px;}
				.main_2:hover .sub_2 {height:118px;}
				.main_3:hover .sub_3 {height:160px;}
				.main_4:hover .sub_4 {height:118px;}

	/*컨텐츠박스*/

		/*탑 바로가기*/
				a.top {
						display:block;
						width:50px; height:50px;
						background:url("../images/body/sub_body_top_icon.png");
						position:fixed; top:400px; right:20px;
						z-index:998;
						text-indent:-9999px;
				}

		/*컨텐츠박스배경*/
			#contArea {
					background-image:url("../images/body/bg_wave.png"), url("../images/body/bg_sand.png");
					background-repeat:no-repeat;
					background-size:1920px 270px, 1920px 100%;
					position:relative; top:-135px;
					z-index:1; width:100%; height:2400px;
					}

			#contWrap {
					position:relative; top:125px;
					width:70%;
					min-width:1000px; max-width:1040px;
					height:2230px;
					margin:0 auto;
					border:3px solid #82d975;
					border-radius:10px;
					background-color:rgba(255,255,255,0.6);
			}

		/*제주체험 서브메뉴 목록*/
				.subWrap {
						width:23%; max-width:200px;
						height:177px;
						float:left; 
						border-right:2px solid white;
						border-bottom:2px solid white;
						border-radius:0 0 15px 0;
						overflow:hidden;
						background:rgba(20,30,30,0.3);	
						background-size:100% 100%;
						position:relative;z-index:3;
				}

				.subWrap h3 {
						text-align:center;
						padding:10px;
						margin-bottom:5px;
						color: white;
				}

				.subWrap ul li {
						padding:5px;
						border-bottom:2px solid #eee;
						transition:all 1s;
				}
				
				.subWrap ul li:nth-child(3){border:none;}
				
				.subWrap ul li:hover {
						background:white;
				}

				.subWrap ul li  a {
						padding:5px;
						display:block; 
						width:100%; height:100%;
						color: white; 
						font-weight:bold;
				}

				.subWrap ul li a:hover {
						color:#5f5f5f;
				}

		/*바다로 가요 헤더*/
				.beachHead {
						width:100%; height:530px;
						background:url("../images/body/sub_body_beach_bg.jpg") no-repeat;
						background-size:1400px 530px;
						background-position:-100px 0;
						position:relative;
						z-index:1;
				}
		
				.beachHead h4 {display:none;}
					
				.beachHead img {
						display:block;
						width:500px;
						position:relative; top:30px;
						margin:0 auto;
				} 
	
				.beachHead p {
						padding-top:20px;
						width:100%;height:70px;
						position:absolute;
						bottom:30px;
						background:rgba(5,30,40,0.3);
						color:white;
						font-size:14pt; text-align:center;
				}

		/*바다로 가요 프로그램 헤더*/
			.bProgram {position:relative; top:30px;}
			.bProgram h5 {
					text-align:center;
					color:#5f5f5f;
					font-size:18pt;
					margin-bottom:30px;
			}
		
		/*바다로 가요 프로그램 테이블*/		
				.bProgram table {
						border:3px solid #5f5f5f;
						width:95%; margin:0 auto;
						background:url("../images/body/login_bg.png")no-repeat;
						background-size:100% 100%;
				}

				.bProgram td {
						height:500px;
				}
				
				.bProgram td h6 {
						text-align:center;
						color:#5f5f5f;
						font-size:15pt;
						position:Relative; top:-8px;
				}

				.bProgram td p {
						width:360px;margin:0 auto;
						height:420px;
						background:white;
						border:2px solid #5f5f5f;
						border-radius:15px;
						overflow:hidden;
				}

				.bProgram td p img {width:100%;}

				.bProgram td p .txt {
						display:block;	
						background:url("../images/body/login_bg.png")no-repeat;
						background-size:100% 100%;
						width:100%;height:40px;
						text-align:center; line-height:40px;
						position:relative; top:10px;
						color:#5f5f5f; font-weight:bold;
				}
				
				.bProgram td p .tw {
						display:inline-block;
						width:130px; height:40px;
						text-align:center; line-height:40px;
						border-radius:20px;
						position:relative; top:35px;
						color:white; font-weight:bold;
				}

				.bProgram td p .time {
						background:#ff6666;
						margin-left:35px;
				}

				.bProgram td p .won {
						background:#ffcc66;
						margin-left:15px;
				}

		/*페이징*/

			#paging{
					border:2px solid #5f5f5f;
					width:280px; height:40px;
					margin:0 auto;
					border-radius:120px;overflow:hidden;
					position:relative; top:30px;
					background:url("../images/body/login_bg.png")no-repeat;
					background-size:100% 100%;
			}

			#paging a {
					display:block; float:left;
					width:40px; height:40px;
					text-align:center;
					line-height:40px;
					border-radius:20px;
					transition:all 1s;
					color:#5f5f5f; font-weight:bold;
			}

			#paging a.now {background:white;}

			#paging a:hover {background:white;}

	/*푸터*/
			footer {
				background:#5f5f5f;
				width:100%; height:250px; margin:0 auto;
				position:relative; margin-top:-145px;}

			footer #footWrap {
				width:70%; margin:0 auto;
				min-width:1000px; max-width:1040px;
			}

		/*바로가기메뉴1*/
			footer h2 {display:none;}
			footer h3 {display:none;}

			 footer .info {
				width:100%; height:40px;
				position:relative; top:40px;
			 }

			 footer .info li {
			 	background:#eee;
				float:left;text-align:center;
				position:relative; height:100%; width:25%;
				transition:all 1s;
				}

			 footer .info li a {
			 	position:relative; top:8px;
			 	padding:6px 0 6px 0;
				font-size:13.5px;
				color:#5f5f5f; font-weight:bold;
				transition:all 1s;
			 }
			
			 footer .info li:hover {background:#5f5f5f;}
			 footer .info li:hover a {color:white;}
			

		/*주소연락처*/
			footer address {
					position:relative;top:125px; 
					width:35%; height:40px; 
					max-width:400px;
					float:left;
			}
			
			footer span {
					font-size:9pt; color:#eee; position:Absolute;
					font-style:normal;
			}

			footer .a1 {left:0; top:0;}
			footer .a2 {left:35%; top:0;}
			footer .a3 {left:60%; top:0;}
			footer .a4 {left:0; bottom:0;}
			footer .a5 {left:35%; bottom:0;}
		
		/*sns바로가기*/
			footer .sns {
					border:3px solid #eee;
					border-radius:15px;
					position:relative;	top:85px;	
					width:30%; height:80px;
					max-width:400px;
					float:right;
					background:rgba(0,0,0,0.2);
					padding: 0 15px 0 15px;
			}

			.sns li {
					float:left;
					text-indent:-9999px;
					width:25%;
			}

			.sns li a {
					display:block; width:45px; height:45px;
					margin:0 auto; position:relative; top:15px;
					transition: all 0.3s;
			}

			.sns .star {background:url("../images/body/sns_icon_1.png");}
			.sns .kakao {background:url("../images/body/sns_icon_2.png");}
			.sns .face {background:url("../images/body/sns_icon_3.png");}
			.sns .twit {background:url("../images/body/sns_icon_4.png");}

			.sns .star:hover {background:url("../images/body/sns_icon_1_ov.png");}
			.sns .kakao:hover {background:url("../images/body/sns_icon_2_ov.png");}
			.sns .face:hover {background:url("../images/body/sns_icon_3_ov.png");}
			.sns .twit:hover {background:url("../images/body/sns_icon_4_ov.png");}

} /*pc화면 닫음*/

/*태블릿화면*/
		@media (min-width:751px) and (max-width:1023px) {
		/*wrap 설정*/
		div#wrap {width:100%}
	/*헤더*/
		/*헤더배경*/
			header {
				background-image:url("../images/header/bg_sun.png"), url("../images/header/header_bg.png"); 
				background-repeat:no-repeat;
				background-position:50% -24px, 0 0;
				background-size:auto, 100% 270px;    
				height:385px; overflow:hidden;
				position:relative; z-index:2;
				}

			/*애니메이션*/
				header:before, header:after{
					content:"";
					display:block; position:absolute; left:-20px;
					width:110%; height:250px;
					animation-name: bgAni;
					animation-duration:2s;
					animation-direction:alternate;
					animation-iteration-count: infinite;
					}

				 header:after{
					background:url("../images/header/bg_ob_1.png"),url("../images/header/bg_ob_2.png");
					background-repeat:no-repeat;
					background-size:200px auto, 220px auto;
					background-position:95% -30px, -5% 100px;
					top:0px;
					}

				header:before{
					background:url("../images/header/bg_ob_3.png"),url("../images/header/bg_ob_4.png"),url("../images/header/bg_ob_5.png");
					background-repeat:no-repeat;
					background-size:200px auto, 120px auto, 300px auto;
					background-position:75% -30px, -4% 45px, 105% 110px;
					animation-delay:1s;
					}

		/*헤더wrap*/
			.headWrap {
					width:700px;
					margin:0 auto;
					position:relative;
			}

		/*로고*/
			/*로고 위치*/
				header h1 {
						background:url("../images/header/home_logo.png") no-repeat;
						background-size:300px 163px;
						width:300px; height:163px;
						position:relative; top:10px; float:left;
						z-index:999; text-indent:-9999px;
						transition:all 1s;
				}

				header h1:hover {
						background:url("../images/header/logo_light.png") no-repeat;
						background-size:300px auto;
				}

				h1 a {
						display:block;
						width:300px; height:163px;
				}

		/*헤더 중,소제목 없애기*/
			header h2,header h3 {display:none;}

		/*탑네비*/
			#topNav ul {
					border:2px solid #5f5f5f;
					position:absolute; top:10px; right:10px;
					background:rgba(255,255,255,0.5);
					z-index:10; width:165px; height:23px;
			}

			#topNav ul li {
					text-align:center; float:left; width:49.7%;	
					padding-bottom:3px;
					transition:all 1s;
			}

			#topNav ul li:nth-child(1) {
					border-right:1px solid #5f5f5f;
			}

			#topNav ul li a {
					padding:0 10px 0 10px;
					font-size:14px; font-weight:bold; color:#5f5f5f;
					transition:all 1s;
			}

				/*탑네비 오버*/
			#topNav ul li:hover {background:#5f5f5f;}
			#topNav ul li:hover a {color:white;}

		/*검색영역*/

			#search {
				z-index:3;
				position:absolute; top:95px; left:40%;
				margin-left:15px;
				width:370px;
			}
			
			#search legend {display:none;}

			#search .search {border:none;}

			#search .keyWord {
				background:url("../images/header/home_search.png");
				background-size:100% 100%;
				width:370px; height:41px; padding-left:7px; border:none;
			}
			
			#search .btn {
				position:absolute; right:0px; top:5px; padding-left:10px;}

		/*네비게이션*/

			nav .chaticon {display:none;}

			/*메인메뉴 공통*/
				#menu {
						z-index:3; width:110%; height:40px; min-width:700px;
						position:relative; top:20px; left:23px; clear:both;
						margin:0 auto;
				}

				/*바이미지,메인메뉴별 간격*/
				
				#menu .m {display:none;}	/*모바일 메뉴 숨기기*/
				.navicon {display:none;} /*모바일 네비 아이콘 숨기기*/

				#menu li.mainMenu {
					background:url("../images/header/nav_var.png") no-repeat 0 6px;
					float:left; width:17.5%; text-align:center;
					position:relative; 
				}
				
				#menu > li:nth-child(2) {height:160px; background:none; padding-right:3%}
				#menu > li:nth-child(3) {height:160px; padding-left:3%; padding-right:3% }
				#menu > li:nth-child(4) {height:160px; padding-left:3%; padding-right:3% }
				#menu > li:nth-child(5) {height:160px;padding-left:3%}
				
				#menu li.mainMenu > a {
					padding:5px; font-size:20.5px; color:#336633;
					font-family: 'Noto Serif KR', serif; 
					}

				/*메인메뉴 오버시 글자색*/
				#menu li.mainMenu > a:hover{color:black;}

			/*보조메뉴 공통*/
				ul.subMenu {
					position:relative; top:10px; left:-10px;
					width:120%; min-width:160px; 
					height:0; overflow:hidden; transition: all 1s;
					background:rgba(20,75,45,0.6);
					border-radius:15px 15px 15px 15px;
					}

				ul.subMenu li a { 
					font-size:12pt; color:white;
					border-radius:15px 15px 15px 15px; 
					padding:3px 5px 3px 5px;
					font-family: 'Noto Serif KR', serif;
					font-weight:200; transition:all 1s;
					}	
				
				ul.subMenu li {
						width:80%; min-width:130px; margin-left:6.5%; padding:8px 5px 8px 5px;
						transition:all 1s;
				}
				
				ul.subMenu li:nth-child(1)  {border-bottom:1px solid #f2fec5;}
				ul.subMenu li:nth-child(3)  {border-top:1px solid #f2fec5;}
				ul.subMenu li:nth-child(4)  {border-top:1px solid #f2fec5;}

				/*보조메뉴 오버시*/
				ul.subMenu li a:hover {color:#f2fec5; background:rgba(0,0,0,0.4);}
			/*보조메뉴 수정*/ 

			/*오버시 보조메뉴 보이기*/
				.main_1:hover .sub_1 {height:118px;}
				.main_2:hover .sub_2 {height:118px;}
				.main_3:hover .sub_3 {height:160px;}
				.main_4:hover .sub_4 {height:118px;}

	/*컨텐츠박스*/

		/*탑 바로가기*/
				a.top {
						display:block;
						width:50px; height:50px;
						background:url("../images/body/sub_body_top_icon.png");
						position:fixed; top:385px; right:50px;
						z-index:998;
						text-indent:-9999px;
				}

		/*컨텐츠박스배경*/
			#contArea {
					background-image:url("../images/body/bg_wave.png"), url("../images/body/bg_sand.png");
					background-repeat:no-repeat;
					background-size:1920px 270px, 1920px 100%;
					position:relative; top:-135px;
					z-index:1; width:100%; height:2200px;
					}

			#contWrap {
					position:relative; top:125px;
					width:90%; max-width:900px;
					height:2020px;
					margin:0 auto;
					border:3px solid #82d975;
					border-radius:10px;
					background-color:rgba(255,255,255,0.6);
			}

		/*제주체험 서브메뉴 목록*/
				.subWrap {
						width:23%; height:177px;
						float:left; 
						border-right:2px solid white;
						border-bottom:2px solid white;
						border-radius:0 0 15px 0;
						overflow:hidden;
						background:rgba(20,30,30,0.3);	
						position:relative;z-index:3;
				}

				.subWrap h3 {
						text-align:center;
						padding:10px;
						margin-bottom:5px;
						color: white;
				}

				.subWrap ul li {
						padding:5px;
						border-bottom:2px solid #eee;
						transition:all 1s;
				}

				.subWrap ul li:nth-child(3){border:none;}

				.subWrap ul li:hover {
						background:white;
				}

				.subWrap ul li  a {
						padding:5px;
						display:block; 
						width:100%; height:100%;
						color: white; 
						font-weight:bold;
				}

				.subWrap ul li a:hover {
						color:#5f5f5f;
				}

		/*바다로 가요 헤더*/
				.beachHead {
						width:100%; height:450px;
						background:url("../images/body/sub_body_beach_bg.jpg") no-repeat;
						background-size:1000px 450px;
						background-position:-100px 0;
						position:relative;
						z-index:1;
				}
		
				.beachHead h4 {display:none;}
					
				.beachHead img {
						width:390px;
						position:absolute; 
						right:30px; top:20px;
				} 
	
				.beachHead p {
						padding-top:20px;
						width:100%;height:70px;
						position:absolute;
						bottom:40px;
						background:rgba(5,30,40,0.3);
						color:white;
						font-size:14pt; text-align:center;
				}

		/*바다로 가요 프로그램 헤더*/
			.bProgram {position:relative; top:30px;}
			.bProgram h5 {
					text-align:center;
					color:#5f5f5f;
					font-size:18pt;
					margin-bottom:30px;
			}
		
		/*바다로 가요 프로그램 테이블*/		
				.bProgram table {
						border:3px solid #5f5f5f;
						width:95%; margin:0 auto;
						background:url("../images/body/login_bg.png")no-repeat;
						background-size:100% 100%;
				}

				.bProgram td {
						height:450px;
				}
				
				.bProgram td h6 {
						text-align:center;
						color:#5f5f5f;
						font-size:15pt;
						position:Relative; top:-8px;
				}

				.bProgram td p {
						width:300px;margin:0 auto;
						height:350px;
						background:white;
						border:2px solid #5f5f5f;
						border-radius:15px;
						overflow:hidden;
				}

				.bProgram td p .txt {
						display:block;	
						background:url("../images/body/login_bg.png")no-repeat;
						background-size:100% 100%;
						width:100%;height:40px;
						text-align:center; line-height:40px;
						position:relative; top:10px;
						color:#5f5f5f; font-weight:bold;
				}
				
				.bProgram td p .tw {
						display:inline-block;
						width:130px; height:40px;
						text-align:center; line-height:40px;
						border-radius:20px;
						position:relative; top:20px;
						color:white; font-weight:bold;
				}

				.bProgram td p .time {
						background:#ff6666;
						margin-left:15px;
				}

				.bProgram td p .won {
						background:#ffcc66;
				}

		/*페이징*/

			#paging{
					border:2px solid #5f5f5f;
					width:280px; height:40px;
					margin:0 auto;
					border-radius:120px;overflow:hidden;
					position:relative; top:30px;
					background:url("../images/body/login_bg.png")no-repeat;
					background-size:100% 100%;
			}

			#paging a {
					display:block; float:left;
					width:40px; height:40px;
					text-align:center;
					line-height:40px;
					border-radius:20px;
					transition:all 1s;
					color:#5f5f5f; font-weight:bold;
			}

			#paging a.now {background:white;}

			#paging a:hover {background:white;}

	/*푸터*/
			footer {
				background:#5f5f5f;
				width:100%; height:200px; margin:0 auto;
				position:relative; margin-top:-135px;}

		/*바로가기메뉴1*/
			footer h2 {display:none;}
			footer h3 {display:none;}

			 footer .info {
				width:90%; height:40px;
				position:relative; top:20px; 
				margin-left:5%;
			 }

			 footer .info li {
			 	background:#eee;
				float:left;text-align:center;
				position:relative; height:100%; width:25%;
				transition:all 1s;
				}

			 footer .info li a {
			 	position:relative; top:8px;
			 	padding:6px 0 6px 0;
				font-size:13.5px;
				color:#5f5f5f; font-weight:bold;
				transition:all 1s;
			 }
			
			 footer .info li:hover {background:#5f5f5f;}
			 footer .info li:hover a {color:white;}
			

		/*주소연락처*/
			footer address {
					position:relative;top:85px; 
					width:50%; height:40px; 
					float:left; margin-left:5%;
					max-width:400px;
			}
			
			footer span {
					font-size:9pt; color:#eee; position:Absolute;
					font-style:normal;
			}

			footer .a1 {left:0; top:0;}
			footer .a2 {left:35%; top:0;}
			footer .a3 {left:60%; top:0;}
			footer .a4 {left:0; bottom:0;}
			footer .a5 {left:35%; bottom:0;}
		
		/*sns바로가기*/
			footer .sns {
					border:3px solid #eee;
					border-radius:15px;
					position:relative;	top:45px;	
					width:35%; height:80px;
					float:right; margin-right:5%;
					background:rgba(0,0,0,0.2);
					padding: 0 15px 0 15px;
			}

			.sns li {
					float:left;
					text-indent:-9999px;
					width:25%;
			}

			.sns li a {
					display:block; width:45px; height:45px;
					margin:0 auto; position:relative; top:15px;
					transition: all 0.3s;
			}

			.sns .star {background:url("../images/body/sns_icon_1.png");}
			.sns .kakao {background:url("../images/body/sns_icon_2.png");}
			.sns .face {background:url("../images/body/sns_icon_3.png");}
			.sns .twit {background:url("../images/body/sns_icon_4.png");}

			.sns .star:hover {background:url("../images/body/sns_icon_1_ov.png");}
			.sns .kakao:hover {background:url("../images/body/sns_icon_2_ov.png");}
			.sns .face:hover {background:url("../images/body/sns_icon_3_ov.png");}
			.sns .twit:hover {background:url("../images/body/sns_icon_4_ov.png");}


	}/*태블릿화면 닫음*/

/*모바일화면*/
		@media (max-width:750px){
	/*헤더*/
		/*헤더배경*/
			header {
			width:100%;min-width:320px; height:55px;
			background:url("../images/header/m_header_bg.png");
			background-size:100% 55px;
			position:relative;
			}

		/*헤더 중,소제목 숨기기*/
			header h2,header h3{display:none;}

		/*로고*/
				h1 {
						background:url("../images/header/logo.png") no-repeat;
						height:20px; width:70px;
						text-indent:-9999px;
						position:absolute; top:17px; left:15px;
				}

				h1 a {
						display:block;
						height:20px; width:70px;
				}

		/*탑네비*/
			header #topNav {display:none;}

		/*검색영역*/
			#search {
					position:relative; top:8px; left:-10px;
					margin:0 auto; width:50%;
					z-index:998;	
			}
			#search .keyWord {
					width:97%; height:32px;
					padding-left:5px; border:3px solid #695f60;
					background:rgba(255,255,255,0.6);
			} 

			#search .btn {
					position:absolute; right:5px; top:5px;height:28px;
					padding-left:10px;
			}

			#search legend {display:none;}

			#search .search {border:none;}

		/*네비게이션*/
				
			/*네비박스*/

				nav {
						position:absolute; top:15px; right:25px;
						width:90px;
						}
				
				nav .chaticon {float:left;}
				nav .navicon {float:right;}

				#menu {
					background:rgba(40,40,40,0.8);
					position:absolute; z-index:999;
					width:250px; right:-20px; top:39px;
					border:2px solid #eee;
					border-top:none; border-right:none;
					border-radius:0 0 0 15px;
					display:none; overflow:hidden;
					}

			/*메인메뉴*/
					#menu .mainMenu {
					position:relative;height:40px; transition:height 1s;
					padding-bottom:10px;
					}

					#menu .mainMenu a {
						padding:5px; font-size:19px; color:white;
						font-family: 'Noto Serif KR', serif;
						padding:5px 30px 5px 10px;
						position:relative; top:4px; left:10px;
						}
					#menu .mainMenu:hover {
							background:url("../images/header/nav_bg.png"); 
							background-size:100% 100%;
					} 

					#menu .mainMenu:hover > a {color:#695f60;}

				/*오버시 크기*/
					#menu .main_1:hover {height:135px;}
					#menu .main_2:hover {height:135px;}
					#menu .main_3:hover {height:165px;}
					#menu .main_4:hover {height:135px;}

					#menu .main_1:hover .sub_1 {height:92px;}
					#menu .main_2:hover .sub_2 {height:92px;} 
					#menu .main_3:hover .sub_3 {height:125px;}
					#menu .main_4:hover .sub_4 {height:92px;}
				
				/*회원정보 로그인 회원가입*/
					#menu .m {
						height:120px;	
					}
					#menu .m ul {
						display:block; border:2px solid white;
						margin:10px 10px 0 10px; position:Relative;
						width:220px; height:100px;
						border-radius:10px 10px 10px 10px;
						background:url("../images/header/nav_bg.png")
						}

					#menu .m1 {
						background-color:rgba(150,150,150,0.5); 
						background-image:url("../images/header/user.png");
						height:80px; width:80px;
						border:2px solid white;
						border-radius:40px 40px 40px 40px;
						position:absolute; top:10px; left:20px;
						}

					#menu .m1 a {
						display:block;
						height:80px; width:80px;
						border-radius:40px 40px 40px 40px;
						position:relative; top:0px; left:0px;
						text-indent:-9999px;
						}

					#menu .m2, #menu .m3 {
							background-color:rgba(150,150,150,0.5); 
							border:2px solid white;
							height:25px; width:80px;
							position:absolute; right:20px;
							text-align:center; transition:all 0.5s;
					}
					
					#menu .m2 {top:17px;}
					#menu .m3 {top:57px;}

					#menu .m2 a, #menu .m3 a {
							display:block;
							height:25px; width:80px;
							color:White;
					}

					#menu .m2:hover, #menu .m3:hover{background:white;}
					#menu .m2:hover a, #menu .m3:hover a {color:#5f5f5f; font-weight:bold;}		
							
					
					
			/*보조메뉴*/
				#menu .subMenu {
					position:relative; overflow:hidden;
					border-radius:10px 10px 10px 10px;
					background:rgba(255,255,255,0.7); 
					height:0; width:90%; margin:0 auto;
					margin-top:12px;
					transition:All 1s;
					}

				#menu .subMenu li {height:30px;}
				#menu .subMenu li:hover {background:white;}
				#menu .subMenu li a {font-size:13pt; color:black;}

	/*컨텐츠박스*/

		/*탑 바로가기*/
				a.top {
						display:block;
						width:50px; height:50px;
						background:url("../images/body/sub_body_top_icon.png");
						position:fixed; top:88px; right:18px;
						z-index:998;
						text-indent:-9999px;
				}

		/*컨텐츠박스배경*/
			#contArea {
					background-image:url("../images/body/bg_sand.png");
					background-repeat:no-repeat;
					background-size:100% 100%;
					position:relative; top:0px;
					z-index:1; width:100%; height:1570px;
					}

			#contWrap {
					position:relative; top:25px;
					width:95%; max-width:800px;
					height:1500px;
					margin:0 auto;
					border:3px solid #82d975;
					border-radius:10px;
					background-color:rgba(255,255,255,0.6);
					overflow:hidden;
			}

		/*제주체험 서브메뉴 목록*/
				.subWrap {
						width:150px;
						border-right:2px solid white;
						border-bottom:2px solid white;
						border-radius:0 0 15px 0;
						overflow:hidden;
						float:left;
						background:rgba(20,30,30,0.3);	
						position:relative;
						z-index:3;
				}

				.subWrap h3 {
						text-align:center;
						padding:10px;
						color:white;
				}

				.subWrap ul li {
						padding:5px 0 5px 10px;
						border-bottom:2px solid white;
						transition:all 1s;
				}

				.subWrap ul li:nth-child(3){border:none;}

				.subWrap ul li:hover {background:white;}

				.subWrap ul li  a {
						padding:5px;
						display:block; 
						width:100%; height:100%;
						color:white; 
						font-weight:bold;
				}

				.subWrap ul li  a:hover {color:#5f5f5f;}

				/*바다로 가요 헤더*/
				.beachHead {
						width:100%; height:450px;
						background:url("../images/body/sub_body_beach_bg.jpg") no-repeat;
						background-size:1000px 450px;
						background-position:-100px 0;
						position:relative;
						z-index:1;
				}
		
				.beachHead h4 {display:none;}
					
				.beachHead img {
						width:390px;
						position:absolute; 
						right:30px; top:20px;
				} 
	
				.beachHead p {
						padding-top:20px;
						width:100%;height:70px;
						position:absolute;
						bottom:40px;
						background:rgba(5,30,40,0.3);
						color:white;
						font-size:14pt; text-align:center;
				}

		/*바다로 가요 헤더*/
				.beachHead {
						width:100%; height:300px;
						background:url("../images/body/sub_body_beach_bg.jpg") no-repeat;
						background-size:750px 300px;
						position:relative;
						z-index:1;
				}
		
				.beachHead h4 {display:none;}
					
				.beachHead img {
						width:250px;
						display:block;
						position:relative; top:20px; left:5px;
						margin:0 auto;
				} 
	
				.beachHead p {
						padding-top:10px;
						width:100%;height:50px;
						position:absolute;
						bottom:25px;
						background:rgba(5,30,40,0.3);
						color:white;
						font-size:11pt; text-align:center;
				}

		/*바다로 가요 프로그램 헤더*/
			.bProgram {
					position:relative; top:30px;}
			.bProgram h5 {
					text-align:center;
					color:#5f5f5f;
					font-size:18pt;
					margin-bottom:30px;
			}
		
		/*바다로 가요 프로그램 테이블*/		
				.bProgram table {
						border:3px solid #5f5f5f;
						width:95%; margin:0 auto;
						background:url("../images/body/login_bg.png")no-repeat;
						background-size:100% 100%;
				}

				.bProgram td {
						height:325px;
				}
				
				.bProgram td img {width:100%;}

				.bProgram td h6 {
						text-align:center;
						color:#5f5f5f;
						font-size:13pt; font-weight:bold;
						position:Relative; top:-8px;
				}

				.bProgram td p {
						width:200px;margin:0 auto;
						height:270px;
						background:white;
						border:2px solid #5f5f5f;
						border-radius:15px;
						overflow:hidden;
				}

				.bProgram td p .txt {
						display:block;	
						background:url("../images/body/login_bg.png")no-repeat;
						background-size:100% 100%;
						width:100%;height:40px;
						text-align:center; line-height:40px;
						position:relative; top:10px;
						color:#5f5f5f; font-weight:bold;
						font-size:9pt;
				}
				
				.bProgram td p .tw {
						display:block;
						float:left; margin-left:6.5px;
						width:90px; height:40px;
						text-align:center; line-height:40px;
						border-radius:20px;
						position:relative; top:20px;
						color:white; font-weight:bold;
						font-size:11pt;
				}

				.bProgram td p .time {
						background:#ff6666;
						
				}

				.bProgram td p .won {
						background:#ffcc66;
				}

		/*페이징*/

			#paging{
					border:2px solid #5f5f5f;
					width:280px; height:40px;
					margin:0 auto;
					border-radius:120px;overflow:hidden;
					position:relative; top:30px;
					background:url("../images/body/login_bg.png")no-repeat;
					background-size:100% 100%;
			}

			#paging a {
					display:block; float:left;
					width:40px; height:40px;
					text-align:center;
					line-height:40px;
					border-radius:20px;
					transition:all 1s;
					color:#5f5f5f; font-weight:bold;
			}

			#paging a.now {background:white;}

			#paging a:hover {background:white;}



	/*푸터*/
		 footer {
			position:relative;
			background:#5f5f5f;
			background-size:100% 100%;
			height:200px; top:0px;
			}

		/*바로가기메뉴1*/
			footer h2 {display:none;}
			footer h3 {display:none;}

			 footer .info {
				width:90%; height:40px;
				position:relative; top:20px; 
				margin-left:5%;
			 }

			 footer .info li {
			 	background:#eee;
				float:left;text-align:center;
				position:relative; height:100%; width:25%;
				transition:all 1s;
				}

			 footer .info li a {
			 	position:relative; top:8px;
			 	padding:6px 0 6px 0;
				font-size:13.5px;
				color:#5f5f5f; font-weight:bold;
				transition:all 1s;
			 }
			
			 footer .info li:hover {background:#5f5f5f;}
			 footer .info li:hover a {color:white;}
			

		/*주소연락처*/
			footer address {
					position:relative;top:95px; 
					width:65%; height:40px; 
					float:left; margin-left:5%;
			}
			
			footer span {
					font-size:9pt; color:#eee; position:Absolute;
					font-style:normal;
			}

			footer .a1 {left:0; top:0;}
			footer .a2 {left:35%; top:0;}
			footer .a3 {left:60%; top:0;}
			footer .a4 {left:0; bottom:0;}
			footer .a5 {left:35%; bottom:0;}
		
		/*sns바로가기*/
			footer .sns {
					border:3px solid #eee;
					border-radius:15px;
					position:relative;	top:35px;	
					width:105px; height:105px;
					float:right; margin-right:5%;
					background:rgba(0,0,0,0.2);
			}

			.sns li {
					float:left; margin:0 12% 0 6%;
					text-indent:-9999px;
					width:25%;
			}

			.sns li a {
					display:block; width:45px; height:45px;
					margin:0 auto; position:relative; top:5px;
					transition: all 0.3s;
			}

			.sns .star {background:url("../images/body/sns_icon_1.png");}
			.sns .kakao {background:url("../images/body/sns_icon_2.png");}
			.sns .face {background:url("../images/body/sns_icon_3.png");}
			.sns .twit {background:url("../images/body/sns_icon_4.png");}

			.sns .star:hover {background:url("../images/body/sns_icon_1_ov.png");}
			.sns .kakao:hover {background:url("../images/body/sns_icon_2_ov.png");}
			.sns .face:hover {background:url("../images/body/sns_icon_3_ov.png");}
			.sns .twit:hover {background:url("../images/body/sns_icon_4_ov.png");}


	}/*모바일화면 닫음*/
	

